
/*NAV BAR=========================================*/

.navStyle {
   background: #4a90e2;
 
}



.navsocial {
    color: #9AB4CB;
    font-size: 35px !important;
    
    
}


/*BANNER=========================================*/

.banner {
    height: 600px;
    display: flex;
    justify-content: center;

   
    }


.aboutText {
    max-width: 750px;
    text-align: center;
    color: white
}

.bannerSpot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    
}

.bannerlogo {
    width: 500px;
}

.bannerquotebutton {
    margin-top: 25px;
}


.quotecenter {
    display: flex;
    justify-content: center;
    align-items: center
}

.quote {
    color: white;
     font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 400;
    max-width: 900px;
    text-align: center;
}

.bannerbutton2 {
    margin-top: 30px;
}

.blueeagle {
    
    
}

.centheadsub {
    display: flex;
    flex-direction: row;
}

/*SERVICES SECTION=========================================*/

.services {
    text-align: center
}

.services1 {
    margin-top: 50px;   
}

.singleService {
    font-size: 15px;
}

.moreservices {
    box-shadow: 0 3px 0 #265072;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    margin-top: 20px;
    background: #396A92;
    color: white;
}



.arrow {
    margin-left: 7px;
}

.serviceImg {
    border-radius: 50%;
    text-align: center;
}


.sectionquotebutton {
    text-align: center;
    margin-top: 30px;
    
}


/*Residential SECTION=========================================*/

.residentialRows {
    margin-bottom: 40px;
}




/*Individual SECTION =========================================*/

.indvFont {
    
    color: white;
}

.pmservices {text-align: center;}

.indser {
    padding-bottom: 25px;
    padding-top: 20px;
    
}

.check {
    margin-right: 15px;
    font-size: 25px !important;
    color: ;
}

.invService {
    
        font-family: 'open sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
   
}


.invDescription {
    font-weight: 300;
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
   
}

.indilistrow {
    display: flex;
    justify-content: flex-start;
    
    
}




/*Individual Services=========================================*/


.contactblue {
    background: url('../img/contactroom2.jpg') no-repeat center;
  background-size: cover;
    margin-top: 120px;
    
}


.flexcenter {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
}

/*Contact Section=========================================*/


.ContactSection {
    
padding-bottom: 3.5em;
    display: flex;
    justify-content: center;
}

.contactInfo {
    text-align: center;
   
  
    padding-top: 30px;
     padding-bottom: 30px;
    margin-bottom: 30px;
}

/*FONT STYLES =========================================*/


.titleHeader {
     font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight:800;
    
}


.subheader{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
    max-width: 700px;
    text-align: center;
    line-height: 1.25;
}


.sectionheader {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight:800;
    color: #222;
    text-align: center;
      margin-bottom: 35px;
   
}

.sectionheaderwhite {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight:800;
    color: white;
    text-align: center;
      margin-bottom: 35px;
   
}

.headerOne {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
}

.headerTwo {
     font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #222;
    text-transform: capitalize;
    font-weight: 600;
}

.bodyfont {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.6px;
    
}

.whitefont {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.6px;
    
}



.phoneNumber {
       font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 300;
   color: white;
}

.phonestyle {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
   
    
}

.emailContact {
    font-size: 20px;
   color: white;
}

.indserviceheader {
     font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    font-weight:800;
    color: #222;
    text-align: center;
      margin-bottom: 50px;
} 

.quoteName {
    font-weight: 300;
}


.modaltitlefont {
    
     font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.6px;
    margin-top: 25px;
}

.modallabel {
   font-family: 'Open Sans', sans-serif; 
     font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #444;
    
}

.formlogo {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}


.topofmodal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.coaching {
   margin-top: 30px;
}

.projectmanagement{
   margin-top: 50px;
}
/*ICONS=========================================*/

.headerIcons {
    margin-right: 12px;
    color: #222;
}


/*NAV SECTION=========================================*/

.navStyle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    
}

.navText {
    color: #444 !important; 
    font-weight: 600;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-left:8px !important;
     padding-right:8px !important;
}

.nav-link:hover {
  
  color: orange !important;
    
}

.quoteButton {
   
    margin-left: 5px;

}

.topeagle{
    width: 200px;
    
}

.active {
    background: #396A92 !important;
    color: white !important;
    border-bottom: red 1px;
    
}

.quotealink {
   padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 10px;
}

/*ABOUT SECTION=========================================*/

.centeroffset {
     max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}


/*TESTIMONIALS SECTION=========================================*/

.testi {
    
	padding: 35px 0;
	margin-top: 64px;
	text-align: center;
	border: 1px solid #e3e3e3;
	border-right: none;
	border-left: none;
     

  
}


/*BANNERS=========================================*/
.bannersize {
    height:300px;
    background: #556270;
    margin-top:100px;
    margin-bottom: 55px;
   
    
}

.banner1 {
    background: url('../img/basementblue2.jpg') no-repeat center;
  background-size: cover;
}

.banner2 {
    
    background: url('../img/kitchenBlue.jpg') no-repeat center;
  background-size: cover;
}


.banner3 {
    
    background: url('../img/bluetest4.jpg') no-repeat center;
  background-size: cover;
}


.banner4 {
    background: url('../img/residential.jpg') no-repeat center;
  background-size: cover;
}

.banner5inv {
    
}



/*SOCIAL SECTION=========================================*/

.socialiconitem {
    font-size: 50px;
    color: white;
    margin-right: 10px;
    
}

.footer {
   height: 75px;
    background: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.socialheader {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.footeraddress {
     font-family: 'Open Sans', sans-serif;
    color: #FDFDFD;
     font-size: 15px;
}


.featuredHeights {
    color: white;
    font-family: 'Open Sans', sans-serif;;
}

.heightsLink {}


/*Residential Page=========================================*/

.cm-ts-cta {
  display: block;
  width: 200px;
  margin: 0 auto;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;

  border: 2px solid #396A92;
  border-radius: 3px;
  color: #396A92;
  padding: 10px;
text-align: center;
  transition: all 0.2s linear;
}

.cm-ts-cta:hover {
  background-color: #396A92;
  color: #fff;
    text-decoration: none;
}

.buttonmargin {
    margin-top: 30px;
}

.wide {
  display: block;
  width: 220px;
  margin: 0 auto;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;

  border: 2px solid #396A92;
  border-radius: 3px;
  color: #396A92;
  padding: 10px;
text-align: center;
  transition: all 0.2s linear;
}

.wide:hover {
  background-color: #396A92;
  color: #fff;
    text-decoration: none;
}


/*Residential Page=========================================*/

.sectioncenter {
    text-align: center;
    
}


/*MODAL Styles=========================================*/

.formlogo {
    width: 500px;
    
}



#imagelightbox
{
    position: fixed;
    
 
   
}



/*Media Queries=========================================*/


@media (max-width: 1200px) {
    
    .navText {
        font-size: 12px !important;
     
    }
}

@media (max-width: 1200px) {
    .topeagle {
        display: none !important;
    }
    
}

@media (max-width: 1000px) and (min-width: 768px){
    
    .navsocial {
      
       display: none !important;
    }
    
    .quotealink {
      
       padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
}

@media (max-width: 767px) {
    
    
    .services {
        margin-bottom: 40px;
    }
    
}

@media (max-width: 900px){
    
    .quote {
        padding-left: 4%;
        padding-right: 4%;
        
    }
    
}


@media (max-width: 767px) {
    
    
    .indilistrow {
        padding-right: 5%;
        padding-left: 5%;
    }
    
}

@media (max-width: 450px){
    .titleHeader {
        font-size: 25px;
    }
    
    .subheader {
        font-size: 18px;
        padding-right: 5%;
        padding-left: 5%;
    }
    
    .blueeagle {
        max-width: 400px;
    }
    
    .footeraddress {
        font-size: 12px;
    }
    
    
    
   
}