

body {

	font-family: 'Open Sans', sans-serif;
}








.topcontent {
display: flex;
    flex-direction: column;
    justify-content: center;
 
  

  

}

.content2 {
 text-align: center;
 font-family: 'Open Sans', sans-serif;
    height: 200px
  
  
}


.about {
text-align: center;
font-family: 'Open Sans', sans-serif;

}

.features {

	text-align: center;
    height: 250px;
  
    
    
}


.blogsection{
	display: flex;
	justify-content: space-between;
	justify-content: center;
}


.navbar {

	display: flex;
}


.socialicons {
text-align: center;
	


}


.socialiconitem {
	padding-right: 5px;
}


footer {
	display:flex;
	justify-content: center;
	justify-content: space-around;
}

.logo {

    width: 300px;
    height: 300px;
    padding-top: 60px;
}











.section1 {
    height: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
       
}

 


.mainheader {
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: white;
  font-family: 'Herr Von Muellerhoff', cursive;
    font-family: 'Alex Brush', cursive;
  
 
    line-height: 6px;

   
    
    
}
.subheader {
    color: white;
     font-family: 'Raleway', sans-serif;
    
    
}

.bannertext {
    display: flex;
    flex-direction: column;
    text-align: center
    
}

.maindescription {
    font-family: 'Lato', sans-serif;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    
    
}

.row1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 105px;
}

.eventbutton {
    margin-top: 15px;
}




.footer {
    
    height: 150px;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}



.styleheading {
     font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 23px;
    font-weight: 600;
}

.socialicon {
    font-size: 35px;
    color: grey;
    margin-right: 9px;
}




/*BUTTON*/


.cta1 {
    margin-top: 15px;
}


.adress {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 26px
}

.section1 {
  
  background: linear-gradient(#0E1717, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('../img/mask1.jpg') no-repeat center;
  background-size: cover;
}



.row4 {
    margin-top: 150px;
    margin-bottom: 100px;
}

.dead {
    color: rebeccapurple;
    font-weight: bold;
}


/*Media Queries*/


@media (max-width: 995px) {
    
    .row2 {
        
        margin-top: 425px;
       
    }
    
    .row2nd {
        margin-bottom: 100px;
        
    }
    
    
}


@media (max-width: 500px) {
    
    
    
    .features {
        margin-top: 35px;
    }
    
    .row2 {
        
        margin-top: 440px;
    }
}


@media (max-width: 480px){
     
     .row2 {
        
        margin-top: 540px;
         
    }
    
}


@media (max-width: 998px) {
    .socialicons {
        margin-top: 200px;
        
    }
}

@media(max-width: 680px){
    .row2nd {
      
        
    }
    
    .maincontain {
        display: flex;
        flex-direction: column;
       
       
    }
}


p {
     font-family: 'Lato', sans-serif;
}


