/*BANNER*/

.banner {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
       
}

.banner {

     /*
  background: linear-gradient(#424242, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('../img/banner.jpg') no-repeat center;
  background-size: cover; */
}



/*ABOUT ME*/

.aboutMe {
    
      
    text-align: center;
}




/*================FONT STYLE======================*/


/*OVERALL STYLES================================================*/


.jobsrow {
    margin-top: 50px;
}



.topheaderOne {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #222;
}

.topheaderTwo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #444;
}

.topheaderText {
    margin: 0 auto;
    width: 800px;
}


.bodyFont {
    font-family: 'Montserrat';
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #444;
    font-size: 16px;
}

.sectionHeader {
    font-size: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight:800;
    text-transform: uppercase;
}

li {
    
    list-style: none;
}

/*================================================*/

/*Project STYLES================================================*/


.projectsHeader {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    
}

.projectsOverview {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
}


.projectsText {
    
    
} 


.centerButton {
    text-align: center;
}




/*================================================*/

/*Education STYLES================================================*/
.educationDate {
    font-size:15px;
    color: #444;  
    font-weight: 300;
    
}

.school {
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #444;
    font-size: 25px;
}


.program {
   font-family: 'Montserrat';
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #444;
    font-size: 20px; 
}


/*================================================*/

/*EXPERIENCE STYLES================================================*/

.companyName {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.dateWorked {
    
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
    
}

.role {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}


.AccordionHeader {
     font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}





.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none !important;
}


/*================================================*/



/*==================SKILLS STYLE=====================*/

.skillsIcons {
    margin-top: 45px
}

.skillHeader {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase; 
    font-size: 14px;
    text-align: center;
}

.skillIcon {
    height: 45px;
    text-align: center;
}

.skillscol {
    text-align: center;
}

.codeIcon {
    font-size: 40px !important;
    
}


/*================================================*/

