<!--SERVICES -->    
<div class="row services1">
 <div class="col-md-4 services">
     <img class=" img-responsive serviceImg" src="img/images-1.jpg">
   <h2>Residential </h2> 
    <p>We offer a range of services. From basement finishing, to kitchens and a variety of individual services, we will make you look good.</p>
    
     <div class="row">
     
         <div class="col-xs-4">
         <img src="img/vintage-bathtub.png">
             <h5>Bathrooms</h5>
         </div>
         
       <div class="col-xs-4">
         <img src="img/home-front.png">
             <h5>Basements</h5>
         </div>
         
         <div class="col-xs-4">
         <img src="img/tool.png">
             <h5>Painting</h5>
         </div>
     
     
     </div>
     
       <div class="row">
     
         <div class="col-xs-4 iconitem">
         <img src="img/vintage-bathtub.png">
             <h5>Kitchen</h5>
         </div>
         
       <div class="col-xs-4 iconitem">
         <img src="img/home-front.png">
             <h5>Custom Remodeling</h5>
         </div>
         
         <div class="col-xs-4 iconitem">
         <img src="img/tool.png">
             <h5>Drywall</h5>
         </div>
     
     
     </div>
     
       <!--BUTTON-->
    <a class="btn btn-success btn-lg moreservices">
          Residential<span class="glyphicon glyphicon-arrow-right arrow"></span>
        </a>
     
</div>   
    
    
<div class="col-md-4 services">
    <img class="serviceImg img-responsive" src="img/images-2.jpg">
   <h2>Commercial </h2> 
    <p>30 years experience in the wall and ceiling sector specializing in tenant improvements has given us the base to expand our services over recent years.
</p>
    
    <!--ICON SECTION-->
       <div class="row">
     
         <div class="col-xs-6">
         <img src="img/vintage-bathtub.png">
             <h5>Office Interiors</h5>
         </div>
         
       <div class="col-xs-6">
         <img src="img/home-front.png">
             <h5>Retail Stores</h5>
         </div>
         
         
     
     
     </div>
     
       <div class="row">
     
         <div class="col-xs-6">
         <img src="img/vintage-bathtub.png">
             <h5>Warehouse & Industrial</h5>
         </div>
         
       <div class="col-xs-6">
         <img src="img/home-front.png">
             <h5>Condo Renovations</h5>
         </div>
         
        
     
     
     </div>
    
      <!--BUTTON-->
    <a class="btn btn-success btn-lg moreservices">
          Commercial<span class="glyphicon glyphicon-arrow-right arrow"></span>
        </a>
    
    
</div>
    
    <div class="col-md-4 services">
        <img class="serviceImg img-responsive" src="img/imgres-1.jpg">
   <h2>PM & Coaching</h2> 
    <p>We offer project management services including overseeing work performed by other contractors, and acting as an owner's own site expert represenetive</p>
   
        
        
        <!--ICON SECTION-->
       <div class="row">
     
         
         
       <div class="col-xs-6">
         <img src="img/home-front.png">
             <h5>Project Management</h5>
         </div>
         
         <div class="col-xs-6">
         <img src="img/tool.png">
             <h5>Budgeting & Planning</h5>
         </div>
     
     
     </div>
     
       <div class="row">
     
        
         
       <div class="col-xs-6">
         <img src="img/home-front.png">
             <h5>Expert Advice on DIY Projects</h5>
         </div>
         
         <div class="col-xs-6">
         <img src="img/tool.png">
             <h5>Onsite Represenative</h5>
         </div>
     
     
     </div>
        
            <!--BUTTON-->
    <a class="btn btn-success btn-lg moreservices">
          Residential<span class="glyphicon glyphicon-arrow-right arrow"></span>
        </a>
</div>
    
</div> <!--END SERVICES-->
       

<!--START TESTIMONIALS-->
<div class="row testi">
    <h2 class="text-center">Testimonials</h2>
    
    
    <div class="col-sm-6">
    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi at justo suscipit, maximus felis ac, tincidunt lectus. Cras feugiat a metus a porttitor. Phasellus in commodo sapien.</p>
    </div>
    
    <div class="col-sm-6">
    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi at justo suscipit, maximus felis ac, tincidunt lectus. Cras feugiat a metus a porttitor. Phasellus in commodo sapien.</p>
    </div>
    
</div><!--END TESTIMONIALS-->