/***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

a img {border:none}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/**************************************************
			      Global styles
***************************************************/

html, body {
	width:100%;
	height:100%;
	}

html, body{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: black;
	margin:0 0 1px;
	line-height: 1.5;
   	background-image:url(../images/bg1.jpg); 
	background-position:left top;
	background-repeat:repeat-x;
}

p {
	margin-bottom:7px;
	}
	
a, p a {
	text-decoration:none;
	}
	
a:hover {
   text-decoration:underline; 
}	

h1, h2, h3, h4, h5, h6 {
	font-family:Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
	position:relative;
}
	
h1{
	font-size: 35px;
	line-height:1.6;
	color:black;
	text-transform:capitalize;
	text-align:left;
	margin-left:40px;
	border-bottom:1px dotted black;
}
	h1 span{
	line-height:1.7px;
	color:black;
	font-size:14px;
	text-transform:none;
	display:block;
}

h2{
	font-size: 18px;
	line-height:1.7;
	color:black;
	text-align:left;
	width:500px;
	padding-top:5px;
	margin-left:40px;
}

	
h3{
	font-size: 28px;
	line-height:1.6;
	color:black;
	text-transform:none;
	text-align:left;
	background-color:transparent;
	padding-top:12px;
	margin-bottom:9px;
	border-bottom:1px dotted black;
}
	
 h3 span{
	font-size: 12px;
	color: black;
	text-transform:capitalize;
	height:24px;
	margin-top:15px;
	text-align:left;
    display:block;
}

h4{
	font-size: 18px;
	line-height:1.7;
	color:black;
	text-align:left;
	width:350px;
	padding-top:8px;
	margin-bottom:12px;
}
	
h4 span{
	font-weight:bold;
	font-size:15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	background-color:#DFDFDF;
	padding:8px;
	margin-left:40px;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}
h5 {
	padding-top:20px;
	padding-bottom:10px;
}

/***************************************************
			    Main containers
***************************************************/

#container, #container_left, #container_right{
	position: relative;
	width:100%;
}

#container{
	position:relative;
	width:980px;
	margin:0 auto;
	text-align:left;
	background-color:FAFAFA;
	padding:15px;
	overflow: hidden; 
	-moz-box-shadow: 0 0 5px 5px #10167A;
	-webkit-box-shadow: 0 0 5px 5px #10167A;
	box-shadow: 0 0 5px 5px #10167A;
}

.group1 {
	float: left;
	width: 613px;
	position: relative;
	background:white;
	padding:15px;
	margin-bottom:10px;
}
	
.group2 {
	float: right;
	width: 277px;
	position: relative;
	background:white;
	padding:15px;
	margin-bottom:10px;
	margin-left:30px;
}
	
.group3 {
	float: left;
	width: 613px;
	position: relative;
	background:white;
	padding:15px;
	margin-top:-28px;
}	
	
.group_bannner_left {
	width: 380px;
	position: absolute;
	top:146px;
	left:50px;
	background:transparent;
	margin-top:50px;
}
			
header{
	position: absolute;
	float:left;
	width: 100%;
	height:100px;
}
	
/**************************************************
				INTRO
***************************************************/	
	
#intro{
width:600px;
position: relative;
float: left;
height:333px;
background:#10167A;
margin-top:10px;
-webkit-border-radius: .5em; 
-moz-border-radius: .5em;
border-radius: .5em;
}

/***************************************************
				   HOLDERS
***************************************************/	

.holder_content {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom:8px;
	background:white;
}
	
.holder_content_separator{
	margin-bottom:20px;
}
	
/***************************************************
			        GALLERY
***************************************************/
	 
	 a.photo_hover3{
	position:relative;
	float: right;
	margin:5px 13px 8px 0;
	padding: 8px;

	}
	a.photo_hover3{ background-color:white;
	border: 1px solid #E1E1E1;

}
	a.photo_hover3:hover {
	border: 1px dotted #66CCFF;
	background-color:#C7EDFF;
	opacity:0.9;
	z-index:1000;
}

	 a.photo_hover2{
	position:relative;
	float: left;
	margin:10px 13px 10px 0;
	padding: 8px;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}
	a.photo_hover2{ background-color:white;
	border: 1px solid #E1E1E1;

}
	a.photo_hover2:hover {
	border: 1px solid #E1E1E1;
}
 .photo_hover3{
	position:relative;
	float: right;
	margin:10px 13px 10px 0;
	padding: 8px;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}

/***************************************************
				   GALLERY
***************************************************/	

.holder_gallery {
	width:610px;
	float:left;
	margin-right:10px;
	padding:0;
}		

.holder_gallery a.photo_hover {left:42px}
.holder_gallery h3 { clear:left}
	
.holder_gallery a.name{
	font-size:12px;
	text-align:left;
	position:relative;
	margin-top:15px;
	display:block;
	clear:left;
	line-height:15px;
}

.holder_gallery a.name1{
	font-size:12px;
	position:relative;
	display:inline;
    text-align:left;
	top:20px;
    left:0;
}

.holder_gallery a.description{
	font-size:12px;
	float:left;
	position:relative;
	margin-right:5px;
	padding-top:7px;
	color:gray;
	width:300px;
	display:inline;
}

/**************************************************
			        FOOTER
***************************************************/

footer{
	background-image:url(../images/footer_bg.jpg);
	position:relative;
	height:90px;
	clear:both;
	width:100%;
	margin-bottom:18px;
}

#FooterOne, #FooterTwo {
	position: absolute;	
	text-align:center;
	color:white;
}

#FooterOne{
	position: absolute;
	right: 225px;
	top:26px;
	color:white;
}

#FooterTwo{
	position: absolute;
	left: 225px;
	top:26px;
	color:white;
}
.container{
    width:980px;
    margin:0 auto;
}	

.tagline_right {
	position:absolute;
	width:200px;
	top:50px;
	right:380px;
	background:none;
	
}

/***************************************************
				       MENU
***************************************************/
/* Main */
nav{
	position:absolute;
	width:960px;
	top:125px;
	background:none;
}
#menu
{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
/*	background: #111;
	background: -moz-linear-gradient(#444, #111);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
	background: -webkit-linear-gradient(#444, #111);
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;*/
}

#menu li
{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
}

#menu a
{
        float: left;
        height: 25px;
        padding: 0 25px;
        color: #999;
        text-transform: uppercase;
        font: bold 12px/25px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
}

#menu li:hover > a { color: #060; }

*html #menu li a:hover /* IE6 */
{ color: #060; }

#menu li:hover > ul {  display: block; }

#menu ul li a.current{
	background-color:#10167A;
	padding:15px;
}
/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    padding: 10px;
        height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
        text-transform: none;
}

*html #menu ul a /* IE6 */
{
        height: 10px;
        width: 150px;
}

*:first-child+html #menu ul a /* IE7 */
{
        height: 10px;
        width: 150px;
}

#menu ul a:hover
{
    background: #0186ba;
        background: -moz-linear-gradient(#04acec,  #0186ba);
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background: -webkit-linear-gradient(#04acec,  #0186ba);
        background: -o-linear-gradient(#04acec,  #0186ba);
        background: -ms-linear-gradient(#04acec,  #0186ba);
        background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec;
}

#menu ul li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after
{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

.content_menu ul li{
	float: none;
	padding-bottom: 16px;
}

.content_menu ul li a{
	font-size:14px;
	line-height:normal;
    color:#33CC99;
	text-align:left;
	text-decoration:none;
	background-image:url(../images/circle.png);
	background-position:left;
	background-repeat: no-repeat;
	padding-left:20px;
}
	
.content_menu ul li a:hover{color:#33CC99;}

/***************************************************
				   SPECIFIC
***************************************************/

#logo {
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-position:top;
	position:relative;
   	float:center;
   	top:20px;
	left:0px;
	width:960px;
	height:160px;
}
#logo hgroup {
	position:absolute;
	top:-500px;

.clearing{
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow:hidden;
}
.readmore{
	font-weight:bold;
	font-size:15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#10167A;
	position:relative;
	left:140px;
	z-index:-1;
}
.readmore a {
   color:#127AB5;
}
a.readmore:after{
	font:12px/1.4 Arial,Georgia,sans-serif;
	content: attr(title);
	display:none;
	position:absolute;
	padding:5px 10px;
	top:0px;
	margin:1em 0 3em;
	color:#fff;
	background:#075698;
	left:-20px; 
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px; 
	background:-webkit-gradient(linear, left top, left bottom, from(#075698), to(#2e88c4));
	background:-moz-linear-gradient(top, #075698, #2e88c4);
	background:-o-linear-gradient(top, #075698, #2e88c4);
	background:linear-gradient(top, #075698, #2e88c4);
	-moz-box-shadow: 0px 0px 4px #000; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 4px #000; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 4px #000; /* Opera 10.5, IE 9.0 */
	filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#000')"; /* IE8 */
}
 
/* creates triangle */
a.readmore:before{
	z-index:13;
	position:absolute;
	content:"\00a0";
	display:none;
	width:0;
	height:0;
	border-style:solid;
	top:-3px;
	left:0px;
	border-width:15px 7px 15px 7px;
	border-color:transparent transparent #075698;
}
 
a.readmore:hover::before{
	display:block;
}

 
a.readmore:hover{
	z-index:10;
	position:relative;
}

 
a.readmore:hover::after{
	width:200px;
	display:block;
	margin:25px 0 0 10px;

}
.commenthidden {
display:none;
}

.commentshown {
display:inline;
} 