/*BANNER*/

.banner {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }


.aboutText {
    max-width: 750px;
    text-align: center;
}
