.maincontent {
    text-align: center;
     vertical-align: center;
       
}

.logo {
    width: 350px;
    display: inline block;
}

.main-footer {
    height: 89px;
    text-align: center;
    background-color: aqua;
}

.rowbutton {
    text-align: center;
}



/*Font Styles*/


.head {
    display: inline-block;
    padding: 1.5em;
    
}
.mainHeader {
    
}


.bodytext {
  width: 400px;
}


.headerTwo {
    font-size: 15px;
}


/*Button*/

.button {
  box-shadow: 2px 2px 2px #424242;  
    
}

.button:hover {
    background: blue;
    border-color: blue;
    color: white;
}



/*Media Querues*/

@media (min-width: 769px) {
    
    .wrap {
        
        min-height: calc(100vh - 89px);
}